# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnpm-store

# Build Output
dist
dist-ssr

# Local Env Files
*.local
.env.local
.env.*.local

# Editor directories and files
.vscode
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System Files
Thumbs.db
ehthumbs.db
Desktop.ini

# Testing
coverage/
.nyc_output/

# Cache
.eslintcache
.stylelintcache
.prettiercache
node_modules/.cache
